/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Police de caractère personnalisée */
@font-face {
  font-family: 'Coloryson';
  src: url('/coloryson.ttf');
}

.mainTitle {
  font-family: 'Coloryson';
}

